%h1 The Iron Healthcare Group


= button_to "Add your hospital to our group!", new_hospital_path, class: "hosp_link", method: :get
%ul.hospital_list
  - @hospital.each do |hospital|
    %li
      %strong
        = link_to hospital.name, hospital_path(hospital)
      = hospital.description
      |
      = link_to "Edit", edit_hospital_path(hospital)
      |
      = link_to "Delete", hospital_path(hospital), method: :delete
/ %ul.hospital_list  
/   - group_of_hospitals = 0
/   - @hospitals.each_slice(5) do |hospital_group|
/     - group_of_hospitals += 1
/     - hospital_group.each do |hospital|
/       %li{ class: "group_#{group_of_hospitals} #{'hidden' if group_of_hospitals >= 2} hospital_page" }
/         = link_to "#{hospital.name}", hospital_path(@hospital)
/         |
/         = link_to "Edit", edit_hospital_path(@hospital)
/         |
/         = link_to "Delete", hospital_path(@hospital), method: :delete
/ %br
/ - group_of_hopitals.times do |x|
/   |
/   = link_to x + 1 
%br
= link_to "Back", root_path
