= form_for [@hospital, @patient, @medication] do |f|
  - if f.object.errors.messages.length > 0
    / Render the errors to the user
    - f.object.errors.messages.inspect
    %br
    - f.object.errors.messages.each do |key, value|
      - value.each do |message|
        = key.capitalize
        = message
        %br
  = f.label :name
  = f.text_field :name
  %br
  = f.submit class: "submit_btn", disabled: 'disabled'